
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  background-color: #F5F5F5;
}

.App{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.freecodecamp-logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo{
  height: 120px;
}

.contenedor-principal{
  height: 600px;
  width: 400px;
  padding: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 4px #929292;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}